<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners Page</title>
</head>
<body>
    <h1>List of Owners</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
            </tr>
        </thead>
        <tbody>
            <!--/*@thymesVar id="owners" type="io.rogue.roguepetclinic.model.Owner"*/-->
            <tr th:each="owner : ${owners}">
                <!--/*@thymesVar id="owner" type="io.rogue.roguepetclinic.model.Owner"*/-->
                <td th:text="${owner.id}">placeholder text</td>
                <td th:text="${owner.firstName}">placeholder text</td>
                <td th:text="${owner.lastName}">placeholder text</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
